<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--service watchDogTimerVal in milli seconds-->
    <add key="watchDogTimerVal" value="60000" />
    <add key="ownerwatchDogTimerVal" value="60000" />
    <!-- sample database connection string -->
    <add key="dbConnectionString" value="Data Source=.\MSSQL1;Initial Catalog=iops;Integrated Security=False;User Id=iopsuser;Password=iopsuser123;MultipleActiveResultSets=True" />
    
    <add key="AppName" value="JBTCDataFeed" />



    <add key="OPCServerName" value="127.0.0.1" />
    <!-- 10.204.152.11 -->
    <!--<add key="OPCServerName" value="10.204.152.11" />-->

    <add key="sleepTimeBetweenOPCTagWritesInSecs" value="60000"/>

    <add key="GPUTimeStampTag" value="Airport.RDU.GPUTimeStampTag"/>

    <!-- log settings -->
    <add key="logLevels" value="warning|exception" />
    <!-- data|debug|info|warning|exception -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>